.favorites-wrapper {  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  .favorites-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    .favorite-item {
      width: calc(100% - 4rem);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      padding: 0.5rem;
      gap: 0.5rem;
      .favorite-thumb {
        width: 36px;
        height: 36px;
        object-fit: cover;
        border-radius: 4px;
        object-fit: contain;
      }
      .favorite-name {
        font-size: 0.8rem;
        color: #666;
      }
      .favorite-remove {
        gap: 0.5rem;
        color: red;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          color: darkred;
        }
      }
    }
  }
}
