.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    .main-content {
      flex: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1.5rem;
  
      .main-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
        .btn-favorite {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 1.5rem;
        }
      }
  
      .thumbs-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
      }
    }
    .favorites-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1.5rem;
      border-left: 1px solid #cccccc;
      padding-left: 1rem;
    }
  }
  
}